<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> &nbsp;&nbsp;
      <!-- <app-search-bar></app-search-bar> -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">


          <li class="nav-item">
            <a routerLink="/cart" class="nav-link"> <span matBadge="{{cartqty}}" matBadgeOverlap="false"><i class='fa fa-cart-plus' style='color: white;font-size:28px'></i> </span></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
