<div class="container">
  <div class="row">
    <div class="col-sm-2 pt-3 pr-3">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                Categories
              </a>
              <a href="#" class="list-group-item list-group-item-action">T-Shirts</a>
              <a href="#" class="list-group-item list-group-item-action">Shoes</a>
              <a href="#" class="list-group-item list-group-item-action">Clothes</a>
              <a href="#" class="list-group-item list-group-item-action">Watches</a>
          </div>
    </div>

    <div class="col-sm-8 pt-3 pr-3">
        <app-product-list></app-product-list>
    </div>
    <div class="col-sm-2 pt-3 pr-3">
      <app-cart></app-cart>
  </div>
</div>
